# Visual Studio
.vs/
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs and cache
*.log
*.cache
*.pdb

# Compiled files
*.exe
*.dll

# NuGet packages
packages/
*.nupkg
